@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap");

body {
  margin: 0;
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
